<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/map" (click)="sidenav.close()">
        <mat-icon matListItemIcon>map</mat-icon> 
        <span matListItemTitle>Mapa</span>
      </a>
      <a mat-list-item routerLink="/estaciones" (click)="sidenav.close()">
        <mat-icon matListItemIcon>pedal_bike</mat-icon> 
        <span matListItemTitle>Estaciones</span>
      </a>
      <a mat-list-item routerLink="/barrios" (click)="sidenav.close()">
        <mat-icon matListItemIcon>location_city</mat-icon> 
        <span matListItemTitle>Barrios</span>
      </a>
      <a mat-list-item routerLink="/carriles" (click)="sidenav.close()">
        <mat-icon matListItemIcon>route</mat-icon> 
        <span matListItemTitle>Carriles</span>
      </a>
      
      <mat-divider></mat-divider>

      @if(authService.isAuthenticated) {
        <a mat-list-item routerLink="/logout-form" (click)="sidenav.close()">
          <mat-icon matListItemIcon color="warn">logout</mat-icon> 
          <span matListItemTitle>Cerrar sesión</span>
        </a>
      } @else {
        <a mat-list-item routerLink="/login-form" (click)="sidenav.close()">
          <mat-icon matListItemIcon color="primary">login</mat-icon> 
          <span matListItemTitle>Iniciar sesión</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menu (toggleSidenav)="sidenav.toggle()"></app-menu>
    
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>